# Imports
github.com
golang.org

# Binaries for programs and plugins
bin
pkg
dist
runtime
docker/simulator/uhppote-simulator
docker/uhppoted-rest/uhppote-simulator
docker/uhppoted-rest/uhppoted-rest
docker/integration-tests/simulator/uhppote-simulator
cookbook/get-events/uhppote-cli
*.exe
*.exe~
*.dll
*.so
*.dylib

# Working files
.local
example.tsv
rq.*
key.*
notes

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# TeX working files
protocol.aux
protocol.log
protocol.synctex.gz

# External
documentation/UHPPOTE-SDK.zip
documentation/SDK

# Experimental stuff
logseq
uhppoted-codegen
