.DS_Store
internal/__pycache__

# Imports
github.com
golang.org

# Binaries for programs and plugins
bin
pkg
dist
runtime
cookbook/get-events/uhppote-cli
*.exe
*.dll
*.so
*.dylib

# Working files
.local
example.tsv
rq.*
key.*
notes
release-notes.md

# Test binary, build with `go test -c`
*.test

# TeX working files
protocol.aux
protocol.log
protocol.synctex.gz

# External
documentation/UHPPOTE-SDK.zip
documentation/SDK

# Experimental stuff
logseq
uhppoted-documentation
uhppoted-breakout

# Docker
docker/simulator/uhppote-simulator
docker/uhppoted-rest/uhppote-simulator
docker/uhppoted-rest/uhppoted-rest
docker/uhppoted-mqtt/uhppoted-mqtt
docker/integration-tests/simulator/uhppote-simulator


