# Imports
github.com
golang.org

# Binaries for programs and plugins
bin
pkg
dist
runtime
docker/linux
*.exe
*.exe~
*.dll
*.so
*.dylib

# Working files
.local
example.tsv

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# TeX working files

protocol.aux
protocol.log
protocol.synctex.gz
