@charset "UTF-8";

$content-background: $solarize-base3         !default;
$content-message-background: $solarize-base2 !default;
$content-controls-border: $solarize-blue     !default;

$warning-colour: $solarize-red            !default;
$warning-dismiss-colour: $solarize-base03 !default;

$user-avatar-background: $solarize-base2              !default;
$user-avatar-text: $solarize-base01                   !default;
$user-menu-background: $solarize-base2                !default;
$user-menu-item: $solarize-base01                     !default;
$user-menu-item-highlight: $solarize-base2            !default;
$user-menu-item-highlight-background: $solarize-base1 !default;

$nav-background: darken($solarize-base2, 5%) !default;
$nav-text-colour: $solarize-blue;

$footer-background: $solarize-base2 !default;
$footer-text: $solarize-base03 !default;

$fieldset-text: $solarize-base03 !default;
$fieldset-border: 1px solid silver !default;
$fieldset-button-border: 2px solid $solarize-red !default;
$fieldset-message-background: $solarize-base2 !default;
$fieldset-warning-text: $solarize-red !default;

$content-table-background:          $solarize-base2                !default;
$content-table-background-header:   darken($solarize-base2, 5%)    !default;
$content-table-background-odd:      $solarize-base3                !default;
$content-table-background-even:     $solarize-base2                !default;
$content-table-row-modified:        lighten($solarize-yellow, 50%) !default;
$content-table-row-new:             lighten($solarize-blue, 30%)   !default;
$content-table-row-unconfigured:    $solarize-yellow               !default;
$content-table-row-uncertain:       $solarize-violet               !default;
$content-table-background-pending:  transparentize($solarize-violet, 0.5);
$content-table-item-conflict:       transparentize($solarize-orange, 0.75);
$content-table-border:              $solarize-blue !default;
$content-table-yes:                 $solarize-base02;
$content-table-no:                  $solarize-base0;
$content-table-changed:             $solarize-red;
$content-table-commit:              $solarize-green  !default;
$content-table-rollback:            $solarize-red    !default;
$content-table-text:                $solarize-base03 !default;
$content-table-item-normal:         $solarize-base03 !default;
$content-table-item-unknown:        $solarize-base1  !default;
$content-table-item-unconfigured:   $solarize-yellow !default;
$content-table-item-uncertain:      $solarize-violet !default;
$content-table-item-error:          $solarize-red    !default;
$content-table-scrollbar-color:     auto             !default;

$content-svg-filter-commit:   invert(58%) sepia(89%) saturate(3723%) hue-rotate(41deg) brightness(98%) contrast(101%) !default;
$content-svg-filter-rollback: invert(30%) sepia(41%) saturate(3835%) hue-rotate(344deg) brightness(89%) contrast(92%) !default;

$controls-background:          $solarize-base2;

$dashboard-windmill: $solarize-blue;

$tab-background: $solarize-base2;
$tab-background-selected: $solarize-base1;

$field-border: 1px solid $solarize-base00;

$button-border: 2px solid $solarize-red;

$eye-colour: $solarize-green;

$link-colour: $solarize-blue;
$offline-border: $solarize-red;
$offline-colour: $solarize-base0;

