$solarize-base03:  #002b36;
$solarize-base02:  #073642;
$solarize-base01:  #586e75;
$solarize-base00:  #657b83;
$solarize-base0:   #839496;
$solarize-base1:   #93a1a1;
$solarize-base2:   #eee8d5;
$solarize-base3:   #fdf6e3;
$solarize-yellow:  #b58900;
$solarize-orange:  #cb4b16;
$solarize-red:     #dc322f;
$solarize-magenta: #d33682;
$solarize-violet:  #6c71c4;
$solarize-blue:    #268bd2;
$solarize-cyan:    #2aa198;
$solarize-green:   #859900;