<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.twystd.uhppoted</string>
    <key>Program</key>
    <string>/usr/local/bin/uhppoted</string>
    <key>WorkingDirectory</key>
    <string>/usr/local/var/com.github.twystd.uhppoted</string>
    <key>ProgramArguments</key>
    <array>
    </array>
    <key>KeepAlive</key>
	<true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/com.github.twystd.uhppoted-rest.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/com.github.twystd.uhppoted-rest.err</string>
</dict>
</plist>
