// Ref. https://css-tricks.com/custom-scrollbars-in-webkit/
// Ref. https://superuser.com/questions/852298/how-can-i-change-the-scroll-bar-in-google-chrome-to-have-different-colors

::-webkit-scrollbar {
  background-color: $solarize_base0;
}
 
::-webkit-scrollbar-track {
  background-color: $solarize-base0;
}
 
::-webkit-scrollbar-thumb {
  background-color: $solarize-base01;
}
