* {
  background: transparent;
  margin: 0;
  padding: 0;
}

html {
  background: #fdf6e3;
  height: 100%;
}

body {
  background: #fdf6e3;
  height: 100%;
  padding: 0px;
}

#content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header header" "left  content right" "footer footer footer";
}

header {
  grid-area: header;
  display: flex;
  height: auto;
  overflow: hidden;
}

nav {
  grid-area: left;
  background: #e7dec3;
  margin: 30px 8px 8px 8px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

nav ul {
  margin-top: 8px;
  margin-left: 16px;
  list-style-type: none;
}

nav ul li {
  color: #268bd2;
  font-family: Sans-Serif;
  font-size: 0.7em;
  font-weight: lighter;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

nav ul li a {
  color: #268bd2;
  text-decoration: none;
}

nav ul li.selected {
  font-size: 0.74em;
  font-weight: bold;
}

main {
  display: flex;
  grid-area: content;
  justify-content: center;
  overflow: hidden;
  margin: 30px 0px 8px 0px;
}

footer {
  grid-area: footer;
  height: auto;
  overflow: hidden;
  padding: 6px 0px 6px 0px;
  text-align: center;
  font-size: 0.8em;
  background: #eee8d5;
  color: #002b36;
}

#logo {
  width: 96px;
  height: 96px;
  padding: 12px;
}

#dashboard {
  flex-grow: 1;
}

#windmill {
  display: none;
  float: right;
  visibility: hidden;
  margin-top: 8px;
  margin-right: 32px;
}

#windmill:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  margin: auto;
  width: 20px;
  height: 20px;
  margin-top: 12 px;
  border-radius: 50%;
  border-top: 2px solid #268bd2;
  border-right: 2px solid transparent;
  animation: windmill 0.6s linear infinite;
}

#windmill[data-count] {
  display: block;
  visibility: visible;
}

@keyframes windmill {
  to {
    transform: rotate(360deg);
  }
}
#user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

#avatar {
  background: #eee8d5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 8px;
  cursor: pointer;
}

#avatar p {
  font-size: 0.9em;
  padding: 0px 8px 0px 12px;
  color: #586e75;
}

#avatar img {
  width: 32px;
  height: 32px;
  padding: 1px 0px 1px 0px;
}

#avatar img svg {
  color: red;
}

#user .menu {
  background-color: #eee8d5;
  display: none;
  z-index: 1;
  font-size: 1em;
  width: 100%;
}

.menu a {
  color: #586e75;
  font-size: 0.9em;
  text-decoration: none;
  display: block;
  padding: 3px 0px 3px 0px;
  text-align: center;
}

.menu a:hover {
  color: #eee8d5;
  background: #93a1a1;
}

#controls {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#controls #message {
  flex-grow: 1;
  margin-left: 0px;
  margin-right: 6px;
}

#controls img.button {
  width: 16px;
  height: 16px;
  padding: 4px 4px 4px 4px;
  border: solid 1px #268bd2;
  border-radius: 4px;
  cursor: pointer;
}

#controls #commitall {
  display: none;
  margin-right: 6px;
  filter: invert(58%) sepia(89%) saturate(3723%) hue-rotate(41deg) brightness(98%) contrast(101%);
}

#controls #rollbackall {
  display: none;
  filter: invert(30%) sepia(41%) saturate(3835%) hue-rotate(344deg) brightness(89%) contrast(92%);
  margin-right: 6px;
}

#controls #refresh {
  margin-left: 6px;
}

#cardholders {
  display: block;
  height: 100%;
}

#offline {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
}

#offline > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  border: solid 1px #dc322f;
}

#offline p {
  font-family: Sans-Serif;
  font-size: 0.75em;
  color: #839496;
  margin-bottom: 16px;
}

#offline a {
  font-family: Sans-Serif;
  font-size: 0.6em;
  color: #268bd2;
  text-decoration: none;
}

#offline a:hover, visited {
  color: #268bd2;
  text-decoration: none;
}

#offline div a {
  font-family: Sans-Serif;
  font-size: 0.7em;
  color: #268bd2;
}

#offline + div > p {
  font-family: Sans-Serif;
  font-size: 0.75em;
  font-weight: normal;
  text-align: center;
  color: #839496;
  margin-top: 4px;
}

.message {
  background-color: #eee8d5;
  display: block;
  height: 23px;
  padding: 0px 4px 4px 0px;
  text-align: center;
  font-size: 0.9em;
  font-weight: normal;
  border-radius: 4px;
  visibility: hidden;
}

.message div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.message .warning {
  flex: auto;
}

.warning {
  color: #dc322f;
}

.dismiss {
  flex: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #002b36;
}

.tabular {
  background: #eee8d5;
  color: #002b36;
  border: none;
  border-collapse: collapse;
}

.tabular thead {
  position: sticky;
  top: 0px;
  z-index: 3;
}

.tabular thead th.rowheader {
  position: sticky;
  left: 0px;
}

.tabular thead tr th {
  background: #e7dec3;
  color: #002b36;
  padding: 0.5rem;
  font-size: 0.9em;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

.tabular tbody tr:nth-child(odd) {
  background: #fdf6e3;
}

.tabular tbody tr:nth-child(even) {
  background: #eee8d5;
}

.tabular tbody tr.modified {
  background: #ffedb5;
}

.tabular tbody tr.new {
  background: #a3cfee;
}

.tabular tbody td {
  position: relative;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  text-align: left;
  font-size: 0.9em;
  font-weight: normal;
  font-style: normal;
}

.tabular tbody td.rowheader {
  position: sticky;
  left: 0px;
  z-index: 2;
}

.tabular tbody tr:nth-child(odd) td.rowheader {
  background: #fbeecb;
}

.tabular tbody tr:nth-child(even) td.rowheader {
  background: #e7dec3;
}

.tabular tbody tr.modified td.rowheader {
  background: #ffedb5;
}

.tabular tbody tr.new td.rowheader {
  background: #a3cfee;
}

.tabular td img.flag {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  visibility: hidden;
}

.tabular td.modified img.flag {
  filter: invert(61%) sepia(14%) saturate(250%) hue-rotate(138deg) brightness(92%) contrast(92%);
  visibility: visible;
}

.tabular td.pending img.flag {
  filter: invert(38%) sepia(78%) saturate(999%) hue-rotate(174deg) brightness(102%) contrast(78%);
  visibility: visible;
}

.tabular td.conflict img.flag {
  filter: invert(56%) sepia(94%) saturate(7076%) hue-rotate(349deg) brightness(95%) contrast(82%);
  visibility: visible;
}

.tabular td.conflict input {
  background-color: rgba(203, 75, 22, 0.25);
}

.tabular td span.control {
  padding: 0px 0px 0px 0px;
  font-size: 1.5rem;
  font-weight: bold;
  visibility: hidden;
  cursor: pointer;
}

.tabular td span.control img {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 8px;
  margin-bottom: 0px;
  border: solid 1px #268bd2;
  border-radius: 2px;
  pointer-events: none;
}

.tabular td span.commit {
  color: #859900;
}

.tabular td span.commit img {
  width: 12px;
  padding: 2px;
  filter: invert(58%) sepia(89%) saturate(3723%) hue-rotate(41deg) brightness(98%) contrast(101%);
}

.tabular td span.rollback {
  color: #dc322f;
}

.tabular td span.rollback img {
  width: 14px;
  height: 14px;
  padding: 1px;
  filter: invert(30%) sepia(41%) saturate(3835%) hue-rotate(344deg) brightness(89%) contrast(92%);
}

.tabular tbody tr.modified td span.commit {
  visibility: visible;
}

.tabular tbody tr.modified td span.rollback {
  visibility: visible;
}

.tabular tbody tr.new td span.rollback {
  visibility: visible;
}

#controls {
  background: #e7dec3;
  padding: 4px 4px 4px 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#controls.modified[data-modified^=multiple] #commitall {
  display: block;
}

#controls.modified[data-modified^=multiple] #rollbackall {
  display: block;
}

tr th:last-child {
  width: 100%;
}

tr {
  overflow: visible;
}

tr td:last-child {
  width: 100%;
}

tr td img.flag.modified {
  filter: invert(61%) sepia(14%) saturate(250%) hue-rotate(138deg) brightness(92%) contrast(92%);
  visibility: visible;
}

tr td img.flag.pending {
  filter: invert(38%) sepia(78%) saturate(999%) hue-rotate(174deg) brightness(102%) contrast(78%);
  visibility: visible;
}

tr td img.flag.conflict {
  filter: invert(56%) sepia(94%) saturate(7076%) hue-rotate(349deg) brightness(95%) contrast(82%);
  visibility: visible;
}

tr td input {
  color: #002b36;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 2px 4px 2px 4px;
  outline: none;
  -moz-appearance: textfield;
}

tr td input[type=number]::-webkit-inner-spin-button,
tr td input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

tr[data-status=unconfigured] td input {
  color: #b58900;
  font-style: italic;
}

tr[data-status=unknown] td input {
  color: #93a1a1;
  font-style: italic;
}

tr[data-status=uncertain] td input {
  color: #6c71c4;
}

tr[data-status=error] td input {
  color: #dc322f;
}

tr td input[data-status=unknown] {
  color: #93a1a1;
  font-style: italic;
}

tr td input[data-status=unconfigured] {
  color: #b58900;
  font-style: italic;
}

tr td input[data-status=uncertain] {
  color: #6c71c4;
  font-style: italic;
  font-weight: bold;
}

tr td input[data-status=error] {
  color: #dc322f;
  font-weight: bold;
}

tr td input:focus {
  border: 1px solid red;
}

tr td select {
  color: #002b36;
  border: none;
  outline: none;
  font: 400 0.9em Arial;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

tr[data-status=unconfigured] td select {
  color: #b58900;
  font-style: italic;
}

tr[data-status=unknown] td select {
  color: #93a1a1;
  font-style: italic;
}

tr[data-status=uncertain] td select {
  color: #6c71c4;
  font-style: italic;
  font-weight: bold;
}

tr[data-status=error] td select {
  color: #dc322f;
}

tr td select[data-status=unknown] {
  color: #93a1a1;
  font-style: italic;
}

tr td select[data-status=unconfigured] {
  color: #b58900;
  font-style: italic;
}

tr td select[data-status=uncertain] {
  color: #6c71c4;
  font-style: italic;
  font-weight: bold;
}

tr td select[data-status=error] {
  color: #dc322f;
  font-weight: bold;
}

.tooltip-wrap {
  position: relative;
}

.tooltip-wrap .tooltip-content {
  color: #800000ff;
  background-color: #ff000020;
  width: fit-content;
  white-space: nowrap;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: none;
  position: absolute;
  top: 28px;
  left: 28px;
  overflow: visible;
  border-radius: 2px;
}

.tooltip-wrap:hover .tooltip-content.enabled {
  display: block;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

div#doors {
  overflow: auto;
  border: 1px solid #268bd2;
}

th.name {
  min-width: 90px;
  border-bottom: 1px;
}

tr.door td input.name {
  width: 90px;
}

tr.door td input.controller {
  pointer-events: none;
}

tr.door td input.deviceID {
  pointer-events: none;
}

tr.door td input.doorID {
  pointer-events: none;
}

tr.door td input.mode {
  text-align: center;
}

tr.door td input.delay {
  text-align: center;
}
