#controls {
    background: $content-table-background-header;
    padding: 4px 4px 4px 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#controls.modified[data-modified^="multiple"] #commitall {
   display: block;
}

#controls.modified[data-modified^="multiple"] #rollbackall {
   display: block;
}

tr th:last-child { 
  width:100% 
} 

tr {
  overflow: visible;
}

tr[data-status="unknown"] {
}

tr td:last-child { 
  width:100% 
} 

tr td img.flag.modified {
   filter: invert(61%) sepia(14%) saturate(250%) hue-rotate(138deg) brightness(92%) contrast(92%);
   visibility: visible;
}

tr td img.flag.pending {
   filter: invert(38%) sepia(78%) saturate(999%) hue-rotate(174deg) brightness(102%) contrast(78%);
   visibility: visible;
}

tr td img.flag.conflict {
   filter: invert(56%) sepia(94%) saturate(7076%) hue-rotate(349deg) brightness(95%) contrast(82%);
   visibility: visible;
}

tr td input {
  color: $content-table-item-normal;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 2px 4px 2px 4px;
  outline: none;
  -moz-appearance:textfield;
}

tr td input[type=number]::-webkit-inner-spin-button, 
tr td input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

tr[data-status="unconfigured"] td input {
  color: $content-table-row-unconfigured;
  font-style: italic;
}

tr[data-status="unknown"] td input {
  color: $content-table-item-unknown;
  font-style: italic;
}

tr[data-status="uncertain"] td input {
  color: $content-table-item-uncertain;
}

tr[data-status="error"] td input {
  color: $content-table-item-error;
}

tr td input[data-status="unknown"] {
  color: $content-table-item-unknown;
  font-style: italic;
}

tr td input[data-status="unconfigured"] {
  color: $content-table-item-unconfigured;
  font-style: italic;
}

tr td input[data-status="uncertain"] {
  color: $content-table-item-uncertain;
  font-style: italic;
  font-weight: bold;
}

tr td input[data-status="error"] {
  color: $content-table-item-error;
  font-weight: bold; 
}

tr td input:focus {
  border: 1px solid red;
}

tr td select {
  color: $content-table-item-normal;
  border: none;
  outline: none;
  font: 400 0.9em Arial;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

tr[data-status="unconfigured"] td select {
  color: $content-table-row-unconfigured;
  font-style: italic;
}

tr[data-status="unknown"] td select {
  color: $content-table-item-unknown;
  font-style: italic;
}

tr[data-status="uncertain"] td select {
  color: $content-table-item-uncertain;
  font-style: italic;
  font-weight: bold; 
}

tr[data-status="error"] td select {
  color: $content-table-item-error;
}

tr td select[data-status="unknown"] {
  color: $content-table-item-unknown;
  font-style: italic;
}

tr td select[data-status="unconfigured"] {
  color: $content-table-row-unconfigured;
  font-style: italic;
}

tr td select[data-status="uncertain"] {
  color: $content-table-item-uncertain;
  font-style: italic;
  font-weight: bold; 
}

tr td select[data-status="error"] {
  color: $content-table-item-error;
  font-weight: bold; 
}

.tooltip-wrap {
  position: relative;
}

.tooltip-wrap .tooltip-content {
  color: #800000ff;
  background-color: #ff000020;
  width: fit-content;
  white-space: nowrap;
  padding-top: .2em;
  padding-bottom: .2em;
  padding-left: .5em;
  padding-right: .5em;

  display: none;
  position: absolute;
  top: 28px;
  left: 28px;

  overflow: visible;
  border-radius: 2px;
}

.tooltip-wrap:hover .tooltip-content.enabled {
  display: block;
}
