#container {
  display: grid; 
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header header"
    "left  content right"
    "footer footer footer";
}

#unauthorized { 
  grid-area: content;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 96px 0px 4px 0px;
  font-size: 0.9em;
}

#unauthorized div { 
  margin-top: 4px;
  margin-bottom: 4px;
}

